




	<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
    	    		<img src="<%= image_path("music_everything.jpg") %>" >
<!-- 
    		<div class="carousel-caption">
    			<h4> Noteworthy Moments </h4>
    		</div> -->
    </div>
    <div class="item">	<img src="<%= image_path("girl_on_floor.jpg") %>" ></div>
    <div class="item">	<img src="<%= image_path("shirtless.jpg") %>" height = "810"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


	<div class="hero-unit" style="margin-top: -30px;">
		<div class ="container-fluid">
			<div class="row-fluid">
				<div class="span6">

					<img src="<%= image_path("place_holder.png") %>" >

				</div>
				<div class="span6" style="margin:auto 0">

					<h1 style="margin-bottom:8px;">Note your worthy moments</h1>
					<p>Music has always been an integral part of our lives. It can serve as a time machine that sends us back to specific moments in time. Why not collect it?</p>
					<p>
		    		<a class="btn btn-primary btn-large" href="<%= moments_path %>">Get Started</a>
		  			</p>

				</div>
			</div>
		</div>
	</div>

	

