<div class="container" style="text-align:center;">

<h1> My Moments </h1>

<p> Coming Soon...</p>

<div class="moment">


    <% @moments.each do |moment| %>


    <div class="title">

 	   <h1><%= moment.title %></h1>

	</div>

	<div class="image">

  	 	<h2><%= moment.image %></h2>

   </div>

   <div class="blog">
    
	   <p><%= moment.blog %></p>

   </div> 


   <div class="song">

 	   <h3><%= moment.song %></h3>

 	</div>

  <div class="show_details">

    <a href="<%= moment_path( moment ) %>"><%= moment.title %></a>

  </div>
   	 
    <br>
    
    <% end %>


</div>

</div>