<div class="container" style="text-align:center;">

  <div class="title">
   	  <h1><%= @moment.title %></h1>
  </div>

  <% if @moment.image.present? %>
        <div>
            <img src="<%= @moment.image.url %>"/>
        </div>
  <% end %>
    <div class="blog">
      <h3><%= @moment.blog %></h3>
    </div> 

    <div class="song">
      <h3><%= @moment.song %></h3>
    </div>

    <% if @moment.song_url.present? %>
          <%==  @client.get('/oembed', :url => @moment.song_url)['html'] %>
    <% else %>
          <%= @moment.song_url %>
    <% end %>

    <div class="edit">
      <h4><a href="<%= edit_moment_path( @moment ) %>" class ="btn btn-inverse">Edit</a></h4>
    </div>

    <div class ="post">
       <h4>
         posted by <a href = "<%= user_path( @moment.user ) %>"><%= @moment.user.email %></a><%= time_ago_in_words( @moment.created_at ) %> ago
       </h4>
    </div>

  <br>

  <%= button_to "Delete Moment", moment_path(@moment),  :method => :delete ,class: "btn btn-danger btn-medium"%>


  <!-- Make it redirect to moments tab -->

  <h1>Comments</h1>

  <ul>
    <% @moment.comments.each do |comment| %>
      <li>
          <h3><%= comment.text %></h3>  
          <p>comment posted by <a href = "<%= user_path( comment.user ) %>"><%= comment.user.email %></a> <%= time_ago_in_words( comment.created_at ) %> ago</p>
      </li>
 
    <% end %>
  </ul>

  <%= form_for [@moment, @comment] do |f| %>
  <%= f.text_area :text, :placeholder => "Add a comment...", :rows => 8, :cols => 40 %>

  <br>

  <%= f.submit "Post Comment" %>
  <% end %>

</div>


