<!DOCTYPE html>
<html>
<head>
  <title>NoteworthyMoments</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>

<body>

<%= bootstrap_flash %>

	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <a class="brand" href="<%= root_path %>"><span>Noteworthy Moments</span></a>
	   		  <ul class="nav">
                <li 
                    <% if params[:controller] == "main" and params[:action] == "about" %> 
                    class="active"
                    <% end %>
                >
                    <a href="<%= about_path %>">About</a>
                </li>
                <li
                    <% if params[:controller] == "main" and params[:action] == "how_it_works" %> 
                    class="active"
                    <% end %>
                >
                    <a href="<%= how_it_works_path %>">How it Works</a>
                </li>
                <li
                    <% if params[:controller] == "main" and params[:action] == "moments" %> 
                    class="active"
                    <% end %>
                >
                    <a href="<%= moments_path %>">Moments</a>
                </li>
                <li
                    <% if params[:controller] == "main" and params[:action] == "add_moment" %> 
                    class="active"
                    <% end %>
                >
                    <a href="<%= new_moment_path %>">Add Moment</a>
                </li>

            </ul>

          <div style="float:right;">
            <ul>
              <li>
              <% if user_signed_in? %>
                <%= current_user.email %>
                <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
              <% else %>

                <a class="btn btn-danger" href="<%= new_user_session_path %>">Log In</a> |
                <a class="btn btn-danger" href="<%= new_user_registration_path %>">Sign Up</a>

              <% end %>
              <li>
            </ul>
          </div>
	  </div>
	</div>

		<%= yield %>
		

</body>
</html>
