<!DOCTYPE html>
<html>
<head>
  <title>NoteworthyMoments</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="<%= root_path %>"><h2>Noteworthy Moments</h2></a>
	   		  <ul class="nav">
                <li 
                    <% if params[:controller] == "main" and params[:action] == "about" %> 
                    class="active"
                    <% end %>
                >
                    <a href="<%= about_path %>"><h3>About</h3></a>
                </li>
                <li
                    <% if params[:controller] == "main" and params[:action] == "how_it_works" %> 
                    class="active"
                    <% end %>
                >
                    <a href="<%= how_it_works_path %>"><h3>How it Works</h3></a>
                </li>
                <li
                    <% if params[:controller] == "main" and params[:action] == "moments" %> 
                    class="active"
                    <% end %>
                >
                    <a href="<%= moments_path %>"><h3>Moments</h3></a>
                </li>
                <li style="float:right;"
                  
                >
                    <a href="<%= moments_path %>"><h3>Sign In</h3></a>
                </li>


            </ul>
	  </div>
	</div>


		<%= yield %>
		

</body>
</html>
